@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main text-white bg-secondary">
    <div class="top-row px-4 bg-dark">
        <a href="http://blazor.net" target="_blank" class="text-white mr-md-auto">Master</a>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
    <div class="content px-4 container">
        @Body
    </div>
</div>
