@page "/"
@inherits EmployeeListBase

<h3>
    <span class="iconify" data-icon="clarity:employee-group-solid" data-inline="false"></span>
    EmployeeList
</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck bg-dark">
        @foreach (var employee in Employees)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header text-white  bg-dark">
                    <h3 class="text-center">@employee.FirstName @employee.LastName</h3>
                </div>
                <img class="card-img-top imagethumbnail" src="@employee.PhotoPath" asp-append-version="true" alt="First slide">
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary m-1"> View</a>
                    <a href="#" class="btn btn-primary m-1"> Edit</a>
                    <a href="#" class="btn btn-primary m-1"> Delete</a>
                </div>
            </div>
        }
    </div>
}