@page "/"
@inherits EmployeeListBase

    <h3>
        <span class="iconify" data-icon="clarity:employee-group-solid" data-inline="false"></span>
        Selected Employees Count-@SelectedEmployeesCount
    </h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
<div class="card-deck bg-dark">
    @foreach (var employee in Employees)
    {
        <DisplayEmployeeComponent Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployeeComponent>

    }
</div>
}